/* Layout */
.app {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  overflow: hidden;
}


/* Sidebar & FileList Container */
.sidebar {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  padding: 15px 30px;
  background-color: #f4f4f4;

  border: 2px solid #dedede;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.sidebar.collapsed {
  width: 0;
  padding: 0;
  border: none;
  margin: 0;
}

.filelist-container {
  margin-top: 10px;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.sidebar.collapsed .filelist-container {
  opacity: 0;
  pointer-events: none;
}

.files-container {
  min-height: 315px;
  max-height: 315px;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 2px solid #dedede;
  border-radius: 7px;
  padding: 0 10px;
}

.files-container::-webkit-scrollbar {
  width: 8px;
}

.files-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.files-container::-webkit-scrollbar-thumb {
  background: #ff7700;
  border-radius: 4px;
}

.files-container::-webkit-scrollbar-thumb:hover {
  background: #fe8b27;
}


/* Toggle Button */
.toggle-button {
  position: fixed;
  left: 245px;
  top: 25px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #dedede;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.toggle-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.sidebar.collapsed .toggle-button {
  left: 10px;
}

.sidebar.collapsed .toggle-icon {
  transform: rotate(180deg);
}


/* Logo & Divider */
.logo {
  width: 75%;  
  display: block; 
  left: 0;
}

.divider {
  width: 74%;
  height: 5px;
  background: linear-gradient(90deg, #ff7700, #2277b8);
  border-radius: 3px;
  margin: 11px 0;
}


/* Header */
.header {
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 80px;
  text-align: center;
  width: auto;
  font-size: 28px;
}


/* Search input */
.search-input {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #adadad;
  border-radius: 7px;
  color: #202020;
  width: 100%; 
  margin-bottom: 15px; 
  box-sizing: border-box;
}

.search-input:focus {
  border-color: #ff7700;
  outline: none;
}

.search-input:hover {
  border-color: #ff7700;
}

.search-count {
  position: fixed;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 25px;
  border-radius: 0 0 5px 5px;
  font-size: 18px;
  z-index: 2000;
  text-align: center;
}


/* Direction Dropdown */
.direction-dropdown {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #adadad;
  border-radius: 7px;
  color: #202020;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.direction-dropdown:hover {
  border-color: #ff7700;
}


/* Switch Toggle */
.switch-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border: 2px solid #adadad;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 4px 0;
  margin-bottom: 35px;
  box-sizing: border-box;
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  justify-content: space-between;
  flex-shrink: 0;
}

.switch-span {
  font-size: 16px;
  color: #333;
  padding-left: 12px;
  flex-grow: 1;
}

.switch-container input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 34px;
}

.slider.round {
  border-radius: 34px;
  margin-right: 8px;
}

input:checked + .slider {
  background-color: #ff7700;
}

input:checked + .slider:before {
  transform: translateX(20px);
}


/* File List */
ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

li {
  cursor: pointer;
  padding: 8px;
  margin: 12px 0;
  background-color: #ddd;
  border-radius: 6px;
  border: 2px solid #adadad;
  text-align: center; 
  width: 100%; 
  box-sizing: border-box;
}

li.selected {
  background-color: #fe8b27; 
  color: #ffffff; 
}

li:hover {
  background-color: #adadad;
}

li.selected:hover {
  background-color: #ff7700; 
}


/* Graph Container */
.graph-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;  
  overflow: auto;
  transition: margin-left 0.3s ease-in-out;
}

.graph-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}


/* Nodes & Edges */
.node {
  cursor: pointer;
}

.node.faded {
  opacity: 0.3;
}

.edge.faded path {
  opacity: 0.3;
}

.edge.faded polygon {
  opacity: 0.3;
}